<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<meta name="author" content="Florian Jenett, Stephen Williams" />
	<meta name="publisher" content="Florian Jenett, Stephen Williams" />
	<meta name="description" content="AppletObject is an open-source project that tries to ease the use of applets in websites." />
	<meta name="keywords" content="florian jenett, stephen williams, applet, integration, embedding, java-plugin, applet-preloading, java, processing, processing.org, xhtml, object, javascript, php, cross platform, open-source, swfobject, &#x3C;applet&#x3E;, &#x3C;object&#x3E;, &#x3C;embed&#x3E;, ajax, dhtml" />
	<meta name="copyright" content="2006-2007 Aaron Steed, Florian Jenett, Stephen Williams" />
	
	<link rel="stylesheet" type="text/css" href="includes/css/style.css" />
	<link rel="icon" href="includes/img/appletobject.ico" type="image/x-icon" />
	<title><!--*-->title<!--*--></title>
</head>
<body><div id="page">
	<div id="header">
	<h1>Applet Object</h1>
	<h5>... turn that coffee cup into a flying saucer.</h5>
	</div>
	<div id="menu">
	<!--*-->menu<!--*-->
	</div>
	<div id="content">
	<!--content-->
	</div>
	<div id="footer">
		(c) 2006-2007 Aaron Steed, Florian Jenett, Stephen Williams.<br />
		<a href="http://textdrive.com/">TxD</a> | <a href="http://validator.w3.org/check?uri=referer">xhtml-strict</a> | last updated: fjenett 20070221
	</div>
</div>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
<script type="text/javascript">
	_uacct = "UA-729769-8";
	urchinTracker();
</script>
</body>
</html>